<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/products/createProductStyle.css" type="text/css">
    <title>Carrito</title>
</head>

<body>
    <main>
        <form action="/products/edit/<%=product != undefined ? product.id : ""%>?_method=PUT" method="POST" enctype="multipart/form-data">

            <input type="text" name="name" value="<%=product != undefined ? product.name : ""%>">

            <textarea name="description" maxlength="240" rows="4" cols="40"><%=product != undefined ? product.description : ""%></textarea>

            <input type="number" name="price" value="<%=product != undefined ? product.price : ""%>">

            <div class="product-images">
                <label for="product-images">Añadir imagenes del producto</label>
                <input type="file" name="product_images" id="product-images" accept="image/*" multiple>
            </div>

            <!-- <div class="precio-oferta">
                <input type="checkbox" name="precio-oferta-check">
                <input type="number" name="price-sale" placeholder="Precio oferta">
            </div> -->

            <div class="categoria-select">
                <!-- <label>Categorias</label>
                <select name="categoria" class="categoria">
                    <option value="eletrica">Eléctricas</option>
                    <option value="acustica">Acústicas</option>
                    <option value="bajos">Bajos</option>
                    <option value="amplificacion">Amplificación</option>
                    <option value="accesorio">Accesorios</option>
                    <option value="repuesto">Repuestos</option>
                </select>
                <br> -->
                <label>Tipo de guitarra</label>
                <select name="type_of_guitar" class="sub-categoria">
                    <option value="eletrica">Stratocaster</option>
                    <option value="acustica">Telecaster</option>
                    <option value="bajos">Paul Reed Smith</option>
                    <option value="amplificacion">Solid Guitar</option>
                    <option value="accesorio">Les Paul</option>
                    <option value="repuesto">Superstrat</option>
                </select>
            </div>

            <div class="colores">
                <label for="imagenes-colores">Añadir colores</label>
                <input type="file" name="imagenes-colores" id="imagenes-colores" accept="image/*" multiple>
            </div>

            <div class="cantidad-disponible-div">
                <label for="available_amount">Cantidad disponible</label>
                <input type="number" name="available_amount" value="<%=product != undefined ? product.available_amount : ""%>">
            </div>

            <div class="characteristics-div">
                <p class="characteristics">
                    <label for="characteristic_1">Caracteristica 1</label>
                    <textarea name="characteristic_1" maxlength="240" rows="2"
                        cols="20"><%=product != undefined ? product.characteristic_1 : ""%></textarea>
                </p>
                <p class="characteristics">
                    <label for="characteristic_2">Caracteristica 2</label>
                    <textarea name="characteristic_2" maxlength="240" rows="2"
                        cols="20"><%=product != undefined ? product.characteristic_2 : ""%></textarea>
                </p>
                <p class="characteristics">
                    <label for="characteristic_3">Caracteristica 3</label>
                    <textarea name="characteristic_3" maxlength="240" rows="2"
                        cols="20"><%=product != undefined ? product.characteristic_3 : ""%></textarea>
                </p>
                <p class="characteristics">
                    <label for="characteristic_4">Caracteristica 4</label>
                    <textarea name="characteristic_4" maxlength="240" rows="2"
                        cols="20"><%=product != undefined ? product.characteristic_4 : ""%></textarea>
                </p>
            </div>

            <div class="specifications-div">
                <p class="specifications">
                    <label for="specification_body">Especificacion cuerpo</label>
                    <textarea name="specification_body" maxlength="240" rows="2"
                        cols="20"><%=product != undefined ? product.specification_body : ""%></textarea>
                </p>
                <p class="specifications">
                    <label for="specification_neck">Especificacion mastil</label>
                    <textarea name="specification_neck" maxlength="240" rows="2"
                        cols="20"><%=product != undefined ? product.specification_neck : ""%></textarea>
                </p>
                <p class="specifications">
                    <label for="specification_accesorie">Especificacion accesorios</label>
                    <textarea name="specification_accesorie" maxlength="240" rows="2"
                        cols="20"><%=product != undefined ? product.specification_accesorie : ""%></textarea>
                </p>
            </div>

            <button type="submit">Enviar</button>

        </form>
    </main>
</body>

</html>