<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/products/adminList.css" type="text/css">
    <title>Listado de productos</title>
</head>

<body>
    <h1>Esta es la lista para eliminar o editar productos</h1>
    <% for(let product of products){%>
    <table border="1">
        <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Tipo</th>
            <th>Tipo 2</th>
            <th>Imagen</th>
        </thead>
        <tbody>
            <tr>
                <td><%=product.id%></td>
                <td><%=product.product_name;%></td>
                <td>$<%=product.price;%></td>
                <td><%=product.category;%></td>
                <td><%=product.guitar_type;%></td>
                <td>
                    <img src="/images/guitarras/detalles/<%=product.imagen%>" width="50px" height="auto"></img>
                </td>
            </tr>
        </tbody>
    </table>
    <br><br><br>
    <% }; %>
</body>

</html>