<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/products/productsListStyle.css" type="text/css">
    <title>Listado de producto</title>
</head>

<body>
    <%- include('../partials/header') %>
    <main>
        <div class="guitars-container">
            <% for(let product of products) {%> 
                <div class="guitar guitar-<%=product.id%>">
                    <img src="/images/guitarras/detalles/<%=product.imagen%>">
                    <div class="guitar-name"><%=product.product_name%></div>
                </div>
            <% } %> 
        </div>
    </main>
</body>

</html>